<ion-content>
  <ion-list style="margin: 10px;">
    <!-- <ion-item-divider color="light">
      <ion-label> {{ "title" | i18n : "app.sale_points.title" }} </ion-label>
    </ion-item-divider>
    <ion-item (click)="goToFeedOutletList()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/chicken-feed.png" />
      </ion-thumbnail>
      <ion-label> {{ 'feed_outlet' | i18n: 'app.sale_points.feed_outlet' }}</ion-label>
    </ion-item>

    <br>
    <ion-item-divider color="light">
      <ion-label> {{ "follow_poultry" | i18n : "app.menu.follow_poultry" }} </ion-label>
    </ion-item-divider>
    <ion-item (click)="goToBroilerCycle()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/high-quality/broiler2.png" />
      </ion-thumbnail>
      <ion-label> {{ 'title' | i18n: 'app.ccr.title' }}</ion-label>
    </ion-item>

    <ion-item (click)="goToSassoCycle()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/high-quality/sasso.png" />
      </ion-thumbnail>
      <ion-label> {{ 'title' | i18n: 'app.sasso_cycle.title' }}</ion-label>
    </ion-item>

    <ion-item (click)="goToLayingHensCycle()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/high-quality/laying-hens2.png" />
      </ion-thumbnail>
      <ion-label> {{ 'title' | i18n: 'app.laying_hens_cycle.title' }}</ion-label>
    </ion-item>

    <ion-item (click)="goToBaladiCycle()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/high-quality/Strains/Irona-free_standing_product_page.width-610.png" />
      </ion-thumbnail>
      <ion-label> {{ 'title' | i18n: 'app.baladi_cycle.title' }}</ion-label>
    </ion-item>

    <ion-item (click)="goToccrTable()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/high-quality/chicks4.png" />
      </ion-thumbnail>
      <ion-label>{{ "ccr" | i18n:"app.ccr.ccr" }}</ion-label>
    </ion-item>

    <ion-item (click)="goToFeedCalculator()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/calculator.png" />
      </ion-thumbnail>
      <ion-label>{{ "feed_calculator" | i18n:"app.feed_calculator.title" }}</ion-label>
    </ion-item>

    <ion-item (click)="goToAgeCalculator()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/growth.png" />
      </ion-thumbnail>
      <ion-label>{{ "age_calculator" | i18n:"app.age_calculator.title" }}</ion-label>
    </ion-item>

    <ion-item (click)="goToAreaCalculator()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/area.png" />
      </ion-thumbnail>
      <ion-label>{{ "area_calculator" | i18n:"app.area_calculator.title" }}</ion-label>
    </ion-item>


    <br>
    <ion-item-divider color="light">
      <ion-label> {{ "follow_quail" | i18n : "app.menu.follow_quail" }} </ion-label>
    </ion-item-divider>
    <ion-item (click)="goToQuailCycle()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/quail.png" />
      </ion-thumbnail>
      <ion-label> {{ 'title' | i18n: 'app.quail.title' }}</ion-label>
    </ion-item>

    <ion-item (click)="goToQuailDisease()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/dead-bird.png" />
      </ion-thumbnail>
      <ion-label> {{ 'disease' | i18n: 'app.quail.disease' }}</ion-label>
    </ion-item>

    <br>
    <ion-item-divider color="light">
      <ion-label> {{ "latest_prices" | i18n : "app.menu.latest_prices" }} </ion-label>
    </ion-item-divider>
    <ion-item (click)="goToFeedPriceAvg()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/price-tag.png" />
      </ion-thumbnail>
      <ion-label>{{ "title" | i18n:"app.feed_price_avg.title" }}</ion-label>
    </ion-item>

    <ion-item (click)="goToFinalProduct()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/chicken-price.png" />
      </ion-thumbnail>
      <ion-label>{{ "title" | i18n:"app.meat_chicken_price.title" }}</ion-label>
    </ion-item>

    <br>
    <ion-item-divider color="light">
      <ion-label> {{ "feasibility_studies" | i18n : "app.menu.feasibility_studies" }} </ion-label>
    </ion-item-divider>
    <ion-item (click)="goToFStudy()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/high-quality/fstudy3.png" />
      </ion-thumbnail>
      <ion-label>{{ "title" | i18n:"app.feasibility_study.title" }}</ion-label>
    </ion-item>

    <ion-item (click)="goToLayingHens()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/high-quality/3egg.png" />
      </ion-thumbnail>
      <ion-label>{{ "title" | i18n:"app.laying_hens.title" }}</ion-label>
    </ion-item>

    <br>
    <ion-item-divider color="light">
      <ion-label> {{ "robot" | i18n : "app.menu.robot" }} </ion-label>
    </ion-item-divider>
    <ion-item (click)="goToRobot()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/robot.png" />
      </ion-thumbnail>
      <ion-label> {{ "title" | i18n:"app.robot.title" }}</ion-label>
    </ion-item> -->

    <br>
    <ion-item-group>
      <ion-item-divider color="light">
        <ion-label> {{ "Change Language" | i18n : "app.global.changeLanguage" }} </ion-label>
      </ion-item-divider>
      <ion-item (click)="changeLanguage()" lines="none">
        <ion-icon name="language"></ion-icon>
        <ion-label color="dark"> &nbsp;{{ "Other Language" | i18n : "app.global.otherLanguage" }} </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>